@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F1F1F1;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

:root {
  --basic-black: #2F2F2F;
  --basic-green: #94BFA7;
  --theme-green: #00BF54;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: 0;
}
